<% @charities.each do |charity| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= charity.name %></h5>
      <p class="card-text"><%= charity.description %></p>
      <a href="#" class="card-link btn btn-success">Donate!</a>
      <%= link_to charity, class: 'card-link' do %>
        <span class="bi"/>Show
      <% end %>
      <%= link_to edit_charity_path(charity), class: 'card-link' do %>
        <%= image_tag("icons/pencil.svg", alt: "Edit") %>
      <% end %>
      <%= link_to charity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' do %>
        <%= image_tag("icons/trash.svg", alt: "Delete") %>
      <% end %>
    </div>
  </div>
<% end %>
<br/>
<%= link_to 'New Charity', new_charity_path, class: 'btn btn-primary' %>
